vendor/
node_modules/
npm-debug.log
yarn-error.log

bootstrap/compiled.php
app/storage/

public/storage
public/hot
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

.idea
.vscode
.vagrant
.DS_Store

.idea/
.vscode/
.vagrant/
